<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testLiquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="testDataSource" />
        <property name="changeLog" value="classpath:spring/testDatabase.xml" />
    </bean>

    <bean id="testDataSource" factory-bean="testDataSourceFactory" factory-method="getDataSource">
        <constructor-arg value="true"/>
    </bean>

    <bean id="testDataSourceFactory" class="de.dhbw.ics.database.DatabaseFactory"/>

    <bean id="roleDao" class="de.dhbw.ics.database.dao.RoleDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="userDao" class="de.dhbw.ics.database.dao.UserDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="paymentMethodDao" class="de.dhbw.ics.database.dao.PaymentMethodDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="genreDao" class="de.dhbw.ics.database.dao.GenreDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="movieDao" class="de.dhbw.ics.database.dao.MovieDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="seatCategoryDao" class="de.dhbw.ics.database.dao.SeatCategoryDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="presentationCategoryDao" class="de.dhbw.ics.database.dao.PresentationCategoryDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="seatDao" class="de.dhbw.ics.database.dao.SeatDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="roomDao" class="de.dhbw.ics.database.dao.RoomDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>


</beans>