<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="de.dhbw.ics.controller.web" />
    <bean id="testLiquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="testDataSource" />
        <property name="changeLog" value="classpath:spring/database.xml" />
    </bean>

    <bean id="testDataSource" factory-bean="testDataSourceFactory" factory-method="getDataSource">
        <constructor-arg value="true"/>
    </bean>

    <bean id="testDataSourceFactory" class="de.dhbw.ics.database.DatabaseFactory"/>

    <bean id="roleDao" class="de.dhbw.ics.database.dao.RoleDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="userDao" class="de.dhbw.ics.database.dao.UserDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

    <bean id="paymentMethodDao" class="de.dhbw.ics.database.dao.PaymentMethodDao">
        <property name="dataSource" ref="testDataSource"/>
    </bean>

</beans>